.p-0 {
  padding: 0px;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}

#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
  padding-left: 1rem;
}

.sidebar-sticky {
  top: 0;
  padding-top: .5rem;
}

.title  {
  padding-top: 56px;
  /* padding-left: 240px; */
}

.chart-container {
  /* padding-top: 56px;
  padding-left: 240px; */
}